<footer class=" py-10">
    <div class="container">
      <div class="flex flex-col md:flex-row  items-center gap-8">
        <div class="w-full md:w-1/2">
            <p class="cardtitlefooter">Newsletter</p>
            <p>Sign up for our free video course and urban garden inspiration</p>
        </div>
        <div class="w-full md:w-1/2">
            <div class="flex flex-col md:flex-row gap-1 ">
                <input type="email" placeholder=" your email letter" class="w-full  text-bodyColor outline-none my-10 px-5 py-5">
                <button class="btn lg:text-xl mt-5 md:my-10">Subscribe</button>
            </div>
        </div>
      </div>
    </div>
    <p class="text-center mt-10 opacity-50">Copyright &copy; 2024 LightCode. All rights reserved.</p>
</footer>