<section class="py-20 bg-sectionColor " id="About">
    <div class="container pt-20">
        <div class="flex flex-col gap-3 items-center text-center  md:mb-28 ">
            <h2 class="title text-titleColor mb-5">About Celestia</h2>
            <p class="subtitle  max-w-2xl">things you need to know</p>
        </div>
        <div class="flex flex-col md:flex-row items-start xl:items-center gap-5 lg:gap-10 mt-20">
            <div class="w-full md:w-1/2">
                <img src="/images/about.png" alt="about">
            </div>
            <div  class="w-full md:w-1/2">
                <div >
                    <p class="text-xs xl:text-base my-5">TOP STAFF PICK</p>
                    <p class="cardtitleabout">Best Collection</p>
                    <p class="mt-3 md:mt-5">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus magnam, consequuntur atque,
                        deserunt commodi eos et dolores totam repudiandae incidunt mollitia quis neque consectetur
                        dolorum aut officiis blanditiis, maxime saepe.
                    </p>
                    <button class="btn lg:text-xl mt-5 md:my-10">Shop now</button>

                </div>
            </div>
        </div>
    </div>
</section>