<section id="popular">
    <div class="container m-autos py-[5%]">
        <div class="flex flex-col gap-3 items-center text-center  md:mb-28 ">
            <h2 class="title text-titleColor mb-5">Popular</h2>
            <p class="subtitle  max-w-2xl">things you need to know</p>
        </div>
        <div class="flex flex-col md:flex-row items-center gap-5 lg:gap-10">
            <div class="cardPopular">
                <div class="w-3/5">
                    <div class="max-w-55 xl:max-w-full">
                        <p class="text-xs xl:text-base pb-2">TOP STAFF PICK</p>
                        <p class="cardtitlePopular">Best Collection</p>
                        <p class="my-3 md:my-5">Use code: LIGHTCODE Get <br>
                            25% Off for all items!</p>
                        <button class="btn lg:text-xl">Shop now</button>
                    </div>
                </div>
                <div class="w-2/5">
                    <img src="/images/popular-1.png" alt="popular" class="w-full ms-auto">
                </div>
            </div>
            <div class="cardPopular">
                <div class="w-3/5">
                    <div class="max-w-55 xl:max-w-full">
                        <p class="text-xs xl:text-base pb-2">TOP STAFF PICK</p>
                        <p class="cardtitlePopular">Best Collection</p>
                        <p class="my-3 md:my-5">Use code: LIGHTCODE Get <br>
                            25% Off for all items!</p>
                        <button class="btn lg:text-xl">Shop now</button>
                    </div>
                </div>
                <div class="w-2/5">
                    <img src="/images/popular-2.png" alt="popular" class="w-full ms-auto">
                </div>
            </div>
          
        </div>
        <div class="bg-cardColor text-center mt-5 lg:mt-10 py-10 px-3 bg-cover bg-center cardbg">
            <div class="sm:max-w-72 mx-auto">
                <p class="cardtitlePopular">Collection Arrived</p>
                <p class="my-3 md:my-5">You have no items & Are you ready to use? come & shop with us!</p>
                <p>Price from: <span class="text-2xl font-bold">$45.00</span></p>
                <button class="btn lg:text-xl my-3 md:my-5">Shop now</button>

            </div>
        </div>
    </div>
</section>