<section class="bg-cardColor py-20">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
            <div  class="flex-1 flex gap-5 max-w-md">
                <div class="text-5xl">
                    <i class="fa-solid fa-plane"></i>
                </div>
                <div class="space-y-4">
                    <p class="uppercase font-bold">EU Free Delivery</p>
                    <p class="leading-relaxed">Free Delivery on all order from EU
                        with price more than $90.00
                    </p>
                </div>
            </div>
            <div  class="flex-1 flex gap-5 max-w-md">
                <div class="text-5xl">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </div>
                <div class="space-y-4">
                    <p class="uppercase font-bold">Money Guarantee</p>
                    <p class="leading-relaxed">30 Days money back guarantee
                        no question asked!
                    </p>
                </div>
            </div>
            <div  class="flex-1 flex gap-5 max-w-md">
                <div class="text-5xl">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="space-y-4">
                    <p class="uppercase font-bold">Online Support 24/7</p>
                    <p class="leading-relaxed">We’re here to support to you.
                        Let’s shopping now!
                    </p>
                </div>
            </div>
          
        </div>
    </div>
</section>