<section class="bg-sectionColor " id="collection">
    <div class="container m-autos py-[8%]">
        <div class="flex flex-col gap-3 items-center text-center  md:mb-28 ">
            <h2 class="title text-titleColor mb-5">collection</h2>
            <p class="subtitle  max-w-2xl">things you need to know</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-y-20 gap-x-8 mt-20">
            <div class="card relative">
                <img src="/images/collection-1.png" alt="collection" class="w-40 absolute left-0 -top-20">
                <div class="space-y-5">
                    <h3 class="cardtitle">Real Stardust</h3>
                    <p class="cardsubtitle">We’ve sourced the finest meteorites and have extracted the very essence of the universe.</p>
                </div>
                <div class="iconArrow">
                    <i class="fa-solid fa-arrow-right hover:translate-x-1 duration-300"></i>
                </div>
            </div>
            <div class="card relative">
                <img src="/images/collection-2.png" alt="collection" class="w-40 absolute left-0 -top-20">
                <div class="space-y-5">
                    <h3 class="cardtitle">Real Stardust</h3>
                    <p class="cardsubtitle">We’ve sourced the finest meteorites and have extracted the very essence of the universe.</p>
                </div>
                <div class="iconArrow">
                    <i class="fa-solid fa-arrow-right hover:translate-x-1 duration-300"></i>
                </div>
            </div>
            <div class="card relative">
                <img src="/images/collection-3.png" alt="collection" class="w-40 absolute left-0 -top-20">
                <div class="space-y-5">
                    <h3 class="cardtitle">Real Stardust</h3>
                    <p class="cardsubtitle">We’ve sourced the finest meteorites and have extracted the very essence of the universe.</p>
                </div>
                <div class="iconArrow">
                    <i class="fa-solid fa-arrow-right hover:translate-x-1 duration-300 "></i>
                </div>
            </div>
        </div>
    </div>
</section>